.skeleton {
    background-color: var(--color-surface-hover);
    border-radius: var(--radius-base);
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: .5;
    }
}

.skeleton-text {
    height: 16px;
    width: 100%;
    border-radius: var(--radius-sm);
}

.skeleton-circle {
    border-radius: 50%;
}

.skeleton-rect {
    width: 100%;
    height: 100%;
}